.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--primary);
	border-radius: 20px;
	font-size: 16px;
	padding-block: 20px;
	padding-inline: 40px;
	gap: 10px;
	color: var(--background);
}
