.main {
	padding-inline: 15px;
	padding-block: 5px;
	background-color: #001125;
	border-radius: 32px;
	width: min-content;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	border: 1px solid hsl(var(--primary), 0.53);
}

.first {
	display: flex;
	align-items: center;
}

.navLogo {
	display: flex;
	align-items: center;
	padding-inline: 15px;
	border-right: 2px solid white;
}

.navLink {
	margin-left: 10px;
	color: white;
	text-decoration: none;
}

.iconGrp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 15px;
	gap: 10px;
}

.list {
	margin-top: 10px;
	border: 1px solid hsl(var(--primary), 0.53);
	background-color: hsl(var(--background)) !important;
	min-width: 30px !important;
	padding: 1 !important;
}
.list > * {
	background-color: hsl(var(--background)) !important;
	padding: 0 !important;
}

.item {
	padding-inline: 10px !important;
	padding-block: 5px !important;
}
