.main {
	padding-inline: 15px;
	padding-block: 5px;
	background-color: #001125;
	border-radius: 32px;
	width: min-content;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	border: 1px solid hsl(var(--primary), 0.53);
}

.first {
	display: flex;
	align-items: center;
}

.navLogo {
	display: flex;
	align-items: center;
	padding-inline: 15px;
	border-right: 2px solid white;
}

.navLink {
	margin-left: 10px;
	color: white;
	text-decoration: none;
}

.iconGrp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 15px;
	gap: 10px;
}

.list {
	margin-top: 10px;
	border: 1px solid hsl(var(--primary), 0.53);
	background-color: hsl(var(--background)) !important;
	min-width: 30px !important;
	padding: 10px !important;
	border-radius: 15px !important;
	display: flex;
	flex-direction: column;
	gap: 5px !important;
}

.list > * {
	background-color: hsl(var(--background)) !important;
	padding: 0 !important;
}
.item {
	padding: 0.8em !important;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0.9);
	border-radius: 0.8em;
	width: 8em !important;
	background-color: hsl(var(--primary), 0.2) !important;
}
.item:hover {
	background-color: hsl(var(--primary), 0.8) !important;
	color: black !important;
}
.logout {
	background-color: rgb(119, 0, 0) !important;
}
.logout:hover {
	background-color: rgb(157, 1, 1) !important;
}
