.main {
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	background: #001125;
	padding: 32px;
	gap: 10px;
	border: 1px solid black;
}

.head {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;
}

.names {
	display: flex;
	flex-direction: column;
}

.me {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-between;
	width: 100%;
}

.more {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.msg {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 10px;
}
.content {
	margin-left: 60px;
}
.last {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}
.postBtn {
	border-radius: 16px !important;
	background-color: hsl(var(--primary)) !important;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.list {
	margin-top: 10px;
	border: 1px solid hsl(var(--primary), 0.53);
	background-color: hsl(var(--background)) !important;
	min-width: 30px !important;
	padding: 10px !important;
	border-radius: 15px !important;
	display: flex;
	flex-direction: column;
	gap: 5px !important;
}

.list > * {
	background-color: hsl(var(--background)) !important;
	padding: 0 !important;
}

.iconInterac {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;
}

.iconInterac > * {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.commentSec {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}
