.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.newPost {
	width: 60%;
	padding: 10px;
	margin: 10px;
}

.post {
	width: 60%;
	padding: 10px;
	margin: 10px;
	display: flex;
	/* justify-content: center; */
	/* align-items:  center; */
	flex-direction: column;
	gap: 16px;
}
