.main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-block: 16px;
}

.wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 60px;
	width: 60%;
	align-self: center;
	justify-items: center;
}
