.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
}

.wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 60px;
	width: 70%;
	align-self: center;
	justify-items: center;
}
